body {
    background-color:  hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}

p {
    color: hsl(228, 12%, 48%);
    font-size: 0.875rem;
}

    /* Card */

#card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.625rem;
    width: 37.5rem;
    margin: 12.5rem auto;
}

    /* Image */

.column-img {
    padding: 0;
}

#product-img {
    border-radius: 0.625rem 0 0 0.625rem;
    width: 18.75rem;
}

    /* Description */

#column-description {
    padding: 1.5rem 2rem;
}

#intro {
    color: hsl(228, 12%, 48%);
    font-size: 0.875rem;
    letter-spacing: 0.25rem;
}

.description {
    line-height: 1.7;
}

    /* Price */

#section-price {
    margin-bottom: 1.5rem;
    position: relative;
}

#act-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.875rem;
    display: inline-block;
}

#prev-price {
    color: hsl(228, 12%, 48%);
    font-size: 0.875rem;
    display: inline-block;
    position: absolute;
    left: 8.5rem;
    top: 0.39rem
}

#btn {
    font-size: 0.875rem;
    padding: 0.7rem 0;
}

/* Attribution */

.attribution { 
    font-size: 0.875rem; 
    text-align: center;
    position: relative;
    padding-bottom: 5%;
}

.attribution a { 
    font-family: 'Fraunces', serif;
    font-size: 1.0625rem;
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
    display: inline-block;
}

@media (min-width: 770px) {
    #product-img-mobile {
        width: 18.75rem;
        /* display: none; */
    }
    
}

@media (max-width: 770px) {
    #card {
        border-radius: 0.625rem;
        width: 23.125rem;
    }
    
    #product-img {
        /* display: none; */
        border-radius: 0.625rem 0.625rem 0 0;
        width: 23.125rem;
    }

    #product-img-mobile {
        border-radius: 0.625rem 0.625rem 0 0;
        width: 23.125rem;
    }

    #column-description {
        padding: 1.5rem 1.8rem;
    }

}
